.newpost-bg {
    background-image: url('https://img.freepik.com/premium-photo/human-brain-growing-from-flower-watering-can-is-pouring-water-mind-mental-health-concept_890960-301.jpg');
    background-size: cover;
    background-position: center;
}
